In [43]:
ls/home/dsc/Data/challenge/

bookings.csv.bz2  searches.csv.bz2

In [44]:
!bzcat /home/dsc/Data/challenge/bookings.csv.bz2 | head -n 10000 >> bookings.sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = /home/dsc/Data/challenge/bookings.csv.bz2, output file = (stdout)

In [45]:
!bzip2 -f bookings.sample.csv

In [46]:
ls -l

total 3988
-rw-rw-r-- 1 dsc dsc  535893 nov 20 17:58 bookings.sample.csv.bz2
drwxrwxr-x 3 dsc dsc    4096 nov 20 17:53 Challenge/
-rw-rw-r-- 1 dsc dsc    4172 nov 20 17:55 Challenge.ipynb
-rw-rw-r-- 1 dsc dsc 3532530 nov 18 20:38 DS_Challenge.pdf

In [47]:
!bzcat bookings.sample.csv.bz2 | wc -l

10000

In [48]:
import bz2

In [49]:
fileBz2=bz2.BZ2File('./bookings.sample.csv.bz2')

In [50]:
type(fileBz2)

bz2.BZ2File

In [51]:
fileBz2=bz2.BZ2File('./bookings.sample.csv.bz2')
k=0
for line in fileBz2:
    k+=1
print(k)

10000

In [52]:
fileBz2.close()

In [59]:
# forma correcta de hacerlo   con comando with
with bz2.BZ2File('./bookings.sample.csv.bz2') as fileBz2: 
    k=0
    for line in fileBz2:
        k+=1
print(k)

10000

In [42]:
pwd

'/home/dsc/Master-Kschool/CHALLENGE'

In [61]:
import pandas as pd

Cuando abro el csv sale con ^.  Para cambiarlo los delimitadores pongo delimiter = "^"

In [83]:
df = pd.read_csv('bookings.sample.csv.bz2',  delimiter = "^")

In [84]:
df.columns

Index(['act_date           ', 'source', 'pos_ctry', 'pos_iata', 'pos_oid  ',
       'rloc          ', 'cre_date           ', 'duration', 'distance',
       'dep_port', 'dep_city', 'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry',
       'lst_port', 'lst_city', 'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry',
       'off_port', 'off_city', 'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry',
       'intl', 'route          ', 'carrier', 'bkg_class', 'cab_class',
       'brd_time           ', 'off_time           ', 'pax', 'year', 'month',
       'oid      '],
      dtype='object')

In [85]:
df.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [100]:
df[df.columns[5]].nunique()

3638

In [101]:
df['rloc']= df[df.columns[5]]

In [103]:
df['rloc'].head()

0    ea65900e72d71f4626378e2ebd298267
1    737295a86982c941f1c2da9a46a14043
2    737295a86982c941f1c2da9a46a14043
3    5ecf00fdcbcec761c43dc7285253d0c1
4    5ecf00fdcbcec761c43dc7285253d0c1
Name: rloc, dtype: object

In [109]:
df.shape[0]

9999

In [117]:
selection = df['arr_port']

TypeError: 'DataFrame' object is not callable

In [ ]:
df[['province', 'capital']]

In [122]:
selection = df[['arr_port','pax']]

In [133]:
selection.nunique()

arr_port    663
pax          21
dtype: int64

In [149]:
import numpy as np
selection.groupby(['arr_port']).agg({'pax':'sum'}).reset_index().head()

   arr_port  pax
0  AAL         0
1  ABQ        12
2  ABV         2
3  ABZ        -6
4  ACC         4

In [151]:
selection.groupby(['arr_port']).sum().head()

          pax
arr_port
AAL         0
ABQ        12
ABV         2
ABZ        -6
ACC         4

In [161]:
df.groupby('arr_port').sum()['pax'].sort_values(ascending = False)[:10]

arr_port
HKG         112
LGA          95
ORD          94
JFK          92
SFO          91
LAX          91
MCO          90
DCA          82
DEN          79
LHR          76
Name: pax, dtype: int64

In [164]:
reader = pd.read_csv('bookings.sample.csv.bz2', compression = 'bz2', sep= '^' , iterator = True, chunksize = 1000)

In [166]:
for df in reader :
    [rows,cols] = df.shape
    bookings_labels = df.columns
    bookings_head = df.head()
    bookings_tail = df.tail()
    break
print(bookings_head)
print(bookings_tail)

      act_date             source  pos_ctry                          pos_iata  \
1000  2013-03-06 00:00:00  1P      US        cd39e7080848043fa76b8d1cd2a9cad2
1001  2013-03-06 00:00:00  1P      US        cd39e7080848043fa76b8d1cd2a9cad2
1002  2013-03-07 00:00:00  1P      US        cd39e7080848043fa76b8d1cd2a9cad2
1003  2013-03-07 00:00:00  1P      US        cd39e7080848043fa76b8d1cd2a9cad2
1004  2013-03-09 00:00:00  1P      US        cd39e7080848043fa76b8d1cd2a9cad2

                             pos_oid                      rloc            \
1000  99df6043f6540c63eac96e7871763680  a94f72a082c740d706b55298fba71ca8
1001  99df6043f6540c63eac96e7871763680  a94f72a082c740d706b55298fba71ca8
1002  99df6043f6540c63eac96e7871763680  a94f72a082c740d706b55298fba71ca8
1003  99df6043f6540c63eac96e7871763680  a94f72a082c740d706b55298fba71ca8
1004  99df6043f6540c63eac96e7871763680  a94f72a082c740d706b55298fba71ca8

      cre_date             duration  distance  dep_port    ...      \
1000  2013-03-06 00:00:00     37626         0  DTW         ...
1001  2013-03-06 00:00:00     37626         0  DTW         ...
1002  2013-03-06 00:00:00     37626         0  DTW         ...
1003  2013-03-06 00:00:00     37626         0  DTW         ...
1004  2013-03-06 00:00:00     37626         0  DTW         ...

      route           carrier  bkg_class  cab_class  brd_time             \
1000  DTWTPE               NV  L          Y          2013-06-27 15:40:00
1001  PVGDTW               NV  K          Y          2013-07-23 16:30:00
1002  PVGDTW               NV  K          Y          2013-07-23 16:30:00
1003  PVGDTW               NV  U          Y          2013-07-23 16:30:00
1004  DTWTPE               NV  L          Y          2013-06-27 15:40:00

      off_time            pax  year month  oid
1000  2013-06-28 18:42:51   3  2013     3  NULL
1001  2013-07-23 18:46:33   3  2013     3  NULL
1002  2013-07-23 18:46:33  -3  2013     3  NULL
1003  2013-07-23 18:46:33   3  2013     3  NULL
1004  2013-06-28 18:42:51  -3  2013     3  NULL

[5 rows x 38 columns]
      act_date             source  pos_ctry                          pos_iata  \
1995  2013-03-28 00:00:00  1S      US        98288da9bba5cad33edd41577a7e057b
1996  2013-03-28 00:00:00  1S      US        98288da9bba5cad33edd41577a7e057b
1997  2013-03-28 00:00:00  1S      US        98288da9bba5cad33edd41577a7e057b
1998  2013-03-12 00:00:00  1S      US        f4e0d29647130254dfb671275abd1575
1999  2013-03-13 00:00:00  1G      SA        35e355aa8ed14526b8d6a4a8dcbc2559

                             pos_oid                      rloc            \
1995  311ab50b0612c07ba6b350c15b5002aa  02ab3e3ded19a8cc6eb67c4413debb86
1996  311ab50b0612c07ba6b350c15b5002aa  02ab3e3ded19a8cc6eb67c4413debb86
1997  311ab50b0612c07ba6b350c15b5002aa  02ab3e3ded19a8cc6eb67c4413debb86
1998  8cb4e2e567aa4a30f0cebbdb88ed9e0c  0d9b3b5479e21ac5607e413f29c69bf8
1999  faa877fa152e2deb0293ecbb98c590ec  6cc20f715417fd39543eb677982ba503

      cre_date             duration  distance  dep_port    ...      \
1995  2013-03-26 00:00:00      5651         0  LAX         ...
1996  2013-03-26 00:00:00      5651         0  LAX         ...
1997  2013-03-26 00:00:00      5651         0  LAX         ...
1998  2013-03-12 00:00:00        71       335  AMS         ...
1999  2013-02-14 00:00:00    237585         0  RUH         ...

      route           carrier  bkg_class  cab_class  brd_time             \
1995  ISTLAX               EU  J          C          2013-04-25 12:45:00
1996  LAXIST               EU  J          C          2013-04-22 18:20:00
1997  ISTLAX               EU  D          C          2013-04-26 12:45:00
1998  AMSLCY               LK  Q          Y          2013-04-26 18:25:00
1999  LHERUH               AU  L          Y          2013-07-31 22:30:00

      off_time            pax  year month  oid
1995  2013-04-25 16:31:23  -1  2013     3  NULL
1996  2013-04-23 18:06:23   1  2013     3  NULL
1997  2013-04-26 16:31:23   1  2013     3  NULL
1998  2013-04-26 18:36:38   3  2013     3  NULL
1999  2013-08-01 00:35:39  -1  2013     3  NULL

[5 rows x 38 columns]

In [170]:
nlines = 0
for df in reader:
    nlines = nlines +len(df)
print(nlines)

0