In [33]:
# Empezamos viendo donde esta el archivo

In [82]:
ls/home/dsc/Data/challenge/

bookings.csv.bz2  bookings.sample.csv.bz2  searches.csv.bz2

In [35]:
# vemos que el archivo es un csv.bz2. Es un archivo que esta comprimido. Hay que descomprimirlo
# para descomprimir utilizamos un comando en bash : bzcat

In [36]:
# es importante hacer las cosas paso a paso con problemas pequeños.
# para luego implementarlo a nivel mas grande.

In [83]:
# creamos un archivo de sample con 10000 lineas.
!bzcat /home/dsc/Data/challenge/bookings.csv.bz2 | head -n 10000 >> bookings.sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = /home/dsc/Data/challenge/bookings.csv.bz2, output file = (stdout)

In [84]:
!bzip2 -f bookings.sample.csv

In [94]:
pwd

'/home/dsc/Master-Kschool/CHALLENGE'

In [95]:
ls -l

total 4020
-rw-rw-r-- 1 dsc dsc  535893 nov 21 09:55 bookings.sample.csv.bz2
drwxrwxr-x 4 dsc dsc    4096 nov 21 10:03 Challenge/
-rw-rw-r-- 1 dsc dsc   35474 nov 21 09:57 Challenge.ipynb
-rw-rw-r-- 1 dsc dsc 3532530 nov 18 20:38 DS_Challenge.pdf
-rw-rw-r-- 1 dsc dsc      72 nov 20 18:20 Untitled.ipynb

### Ejercicio nº1 
- Count the number of lines in Python for each file

In [113]:
# HACEMOS EL EJERCICIO CON UN SAMPLE PARA HACERLO MAS FACIL
# CUANDO SALGA, LO IMPLEMENTAMOS A MAS NIVEL
# abrimos con Python.

In [114]:
import pandas as pd

In [98]:
import bz2 #primero importamos bz2 que sirve para descomprimir

In [106]:
fileBz2=bz2.BZ2File('./bookings.sample.csv.bz2') #descomprimimos

In [107]:
type(fileBz2)

bz2.BZ2File

In [108]:
pwd

'/home/dsc/Master-Kschool/CHALLENGE'

In [109]:
ls -l

total 4020
-rw-rw-r-- 1 dsc dsc  535893 nov 21 09:55 bookings.sample.csv.bz2
drwxrwxr-x 4 dsc dsc    4096 nov 21 10:05 Challenge/
-rw-rw-r-- 1 dsc dsc   35474 nov 21 09:57 Challenge.ipynb
-rw-rw-r-- 1 dsc dsc 3532530 nov 18 20:38 DS_Challenge.pdf
-rw-rw-r-- 1 dsc dsc      72 nov 20 18:20 Untitled.ipynb

In [112]:
fileBz2=bz2.BZ2File('./bookings.sample.csv.bz2')
k=0
for line in fileBz2:
    k+=1
print(k)

10000

In [115]:
#HEMOS SACADO LAS FILAS CON UN SARCHIVO DE SAMPLE.
#COMO VEMOS QUE FUNCIONA, AHORA LO HACEMOS CON TODO EL ARCHIVO bookings.csv.bz2

In [117]:
archivogrande=bz2.BZ2File('/home/dsc/Data/challenge/bookings.csv.bz2') # LO CONSEGUIMOS #
k=0
for line in archivogrande:
    k+=1
print(k)

10000011

### Ejercicio 2
Top 10 arrival airports in the world in 2013 (using the bookings file)
- Arrival airport is the column arr_port. It is the IATA code for the airport
- To get the total number of passengers for an airport, you can sum the column pax, grouping by arr_port. Note that there is negative pax. That corresponds to cancelations. So to get the total number of passengers that have actually booked, you should sum including the negatives (that will remove the canceled bookings).
- Print the top 10 arrival airports in the standard output, including the number of passengers.
- Bonus point: Get the name of the city or airport corresponding to that airport (programatically, we suggest to have a look at GeoBases in Github)•Bonus point: Solve this problem using pandas (instead of any other approach)

In [118]:
# EMPEZAMOS EL EJERCICIO UTILIZANDO EL ARCHIVO DE SAMPLE CREADO.
# VEMOS EXACTAMENTE QUE ES LO QUE NOS PIDEN
# HAY QUE HACERLO PASO A PASO PARA LUEGO IMPLEMENTARLO A MAS NIVEL

In [119]:
import pandas as pd

In [120]:
sample = pd.read_csv('/home/dsc/Master-Kschool/CHALLENGE/bookings.sample.csv.bz2')

In [121]:
sample.head()

  act_date           ^source^pos_ctry^pos_iata^pos_oid  ^rloc          ^cre_date           ^duration^distance^dep_port^dep_city^dep_ctry^arr_port^arr_city^arr_ctry^lst_port^lst_city^lst_ctry^brd_port^brd_city^brd_ctry^off_port^off_city^off_ctry^mkt_port^mkt_city^mkt_ctry^intl^route          ^carrier^bkg_class^cab_class^brd_time           ^off_time           ^pax^year^month^oid
0  2013-03-05 00:00:00^1A    ^DE      ^a68dd7ae95...
1  2013-03-26 00:00:00^1A    ^US      ^e612b9eeee...
2  2013-03-26 00:00:00^1A    ^US      ^e612b9eeee...
3  2013-03-26 00:00:00^1A    ^AU      ^0f984b3bb6...
4  2013-03-26 00:00:00^1A    ^AU      ^0f984b3bb6...

In [122]:
# primer problema. Las columnas estan separadas por ^.  Hay que arreglarlo

In [123]:
sample = pd.read_csv('/home/dsc/Master-Kschool/CHALLENGE/bookings.sample.csv.bz2', sep='^')

In [126]:
sample.sample(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
533,2013-03-09 00:00:00,1P,US,4804033f441ee30d92980c8b2207e8ae,4868da7a1666bbbc5fe33d377690f8eb,432cb17f3c5eacb0ee27f2b619da76e2,2013-03-04 00:00:00,5925,0,BDL,...,BDLORD,FK,W,Y,2013-06-28 11:21:00,2013-06-28 12:37:38,-1,2013,3,NULL
8729,2013-03-08 00:00:00,1S,US,4c7fe5d0573641f4473e7ebc64829ecb,84e66dbde8d304b295077c439198c304,0c797c2761e0a1f3b2eff5b28064e612,2013-03-08 00:00:00,43077,0,LAX,...,LAXCAN,MK,M,Y,2013-03-22 23:00:00,2013-03-24 04:27:36,1,2013,3,NULL
3278,2013-03-19 00:00:00,1G,IN,38a5291464c1cce6b5b60a4677bfd821,befcdcb5dcc9d0dacd6b821f2bba3ffe,7ba8194db67e2b0acdbbbc53248c84a2,2012-11-15 00:00:00,260984,0,DEL,...,ABVADDDEL,OE,L,Y,2013-05-17 13:50:00,2013-05-18 08:54:08,1,2013,3,NULL
8152,2013-03-25 00:00:00,1A,DE,0c7f99311b0ede5f1974db685bd218e4,f9ab664e0cda20bafa1495b18f8b7153,781ba73cf6e1de0a297381e45d060cb0,2013-03-12 00:00:00,27226,0,DUS,...,DUSORDSFO,LK,K,Y,2013-07-21 09:45:00,2013-07-21 16:37:05,-1,2013,3,BREL121CT
7564,2013-03-04 00:00:00,1S,SG,fbab9b67b73f4352610612316b23c5c0,9af9f36c58997421ac4b717e754b1007,6e654c16c7a7c91afe7b2154ae5130d3,2013-02-01 00:00:00,9050,0,SIN,...,LHRSIN,DB,J,C,2013-03-08 18:15:00,2013-03-09 15:50:44,-1,2013,3,NULL